body {
    margin: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: snow
}

.color_secondary {
    color: #aaa;
}

form.container {
    margin-top: 50px;
    width: 400px;
}

#numberKRS {
    background-color: ghostwhite;
}
#register {
    background-color: ghostwhite;
}
div.container-fluid {
    width: 400px;
    margin-top: 10px ;
    border-bottom: 2px solid silver;
    padding: 1.5em 1.5em
}
.containerCompany {
    width: 400px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto

}

.company {
    text-align: left;
    font-size: 16px;
    margin-top: 20px ;
}

h3.company {
    text-align: center;
    font-size: 16px;
    margin-top: 20px ;
}

button.btn {
    border-radius: 3px;
    border: 1px solid silver;
    background-color: ghostwhite;
}