:root {
	--main-color: whitesmoke;
	--second-color: rgb(126, 25, 25);
	--font-family-main: "Poppins", sans-serif;
	--font-size--main: 18px;
	--font-size--medium: 24px;
	--font-size--large: 50px;
    --font-size--button: 16px;
	--font-weight--main: 400;
	--font-weight--bold: 700;
	--font-line-height: 24px;
	--border-radius: 5px;
}

* {
	margin: 0;
	padding: 0;
}


body {
    background-color: var(--main-color);
    text-align: center;
    font-family: var(--font-family-main);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

.text {
    font-size: var(--font-size--main);
}

.text--large {
    font-size: var(--font-size--large);
}

.text--highlighted {
    color: var(--second-color);
}

.text__title {
    font-size: var(--font-size--medium);
    font-weight: var(--font-weight--bold);
}

.text--space {
    padding: 20px;
}

.container {
    position: relative;
    width: 1000px;
    height: 700px;
}

.container--central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    width: 700px;
}

.content__item {
    text-align: left;
}

.content__link {
    color: rgb(148, 148, 148);
    font-weight: var(--font-weight--bold);
    text-decoration: none;
    border: 1px solid rgb(110, 105, 105);
    border-radius: var(--border-radius);
    padding: 8px;
    margin-left: 10px;
    background-color: white;
    font-size: var(--font-size--button);
} 

.content__link:hover {
    color: white;
    background-color: black;
    font-weight: var(--font-weight--main);
}

.form {
    width: 700px;
    height: 200px;
}

.form__item {
    padding: 0 15px 0 15px;
    text-align: left;
    font-weight: var(--font-weight--main);
    font-size: var(--font-size--main);
    color: rgb(148, 148, 148);
    height: 40px;
    width: 300px;
    margin: 15px;
    background-color: white;
    border: 1px solid rgb(110, 105, 105);
    border-radius: var(--border-radius);
}

.form__item--small {
    width: 200px;
}

.button {
    width: 80px;
    margin: 10px;
    font-size: var(--font-size--button);
    height: 40px;
}

.button--main {
    background-color: black;
    color: white;
    border: 1px solid rgb(110, 105, 105);
    border-radius: var(--border-radius);
}